.swipeButtons {
  position: fixed;
  bottom: 5vh;
  width: 100%;
}
.swipeButtons__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3);
}

.swipeButtons__repeat {
  color: #f5b748 !important;
}
.swipeButtons__left {
  color: #ec5e6f !important;
}
.swipeButtons__star {
  color: #62b4f9 !important;
}
.swipeButtons__right {
  color: #76e2b3 !important;
}
.swipeButtons__lightning {
  color: #915dd1 !important;
}
