.card {
  position: relative;
  width: 600px;
  padding: 20px;
  max-width: 85vw;
  height: 60vh;
  border-radius: 20px;
  background-size: cover;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}

.tinderCards__container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
.swipe {
  position: absolute;
}
.card__name {
  position: absolute;
  bottom: 10px;
  color: white;
}

.swipe__skelton {
  width: 600px !important;
  max-width: 85vw;
  height: 60vh !important;
}